.App {
  text-align: center;
}
.photo{
  height: 350px;
}
.button{
border-radius: 20%;
border: 2px solid;
color: rgb(118, 131, 210);
}
.name{
  font-family:'Courier New', Courier, monospace;
  color: rgb(22, 22, 166);
}
.prof{
  color: rgb(134, 134, 190);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
.bio{
  color: rgb(22, 22, 166);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
font-style: oblique;
font-size: x-large;
}
.button2{
  border-radius: 20%;
border: 2px solid;
color: rgb(118, 131, 210);
margin-left: 50px;
}